<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="vcloud.user" value="user@org"/>
    <add key="vcloud.pass" value="REPLACE WITH PASSWORD"/>
    <add key="vcloud.url" value="https://cloud.ussignalcom.net"/>
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>